:root {
    --text-background: white;
    --text: black;
    --page-backgound: white;
    --header: white;
    --header-background: #444547;
    --search: #aaaaaa;
    --search-background: #606162;
    --card-background: #e5f0ff;
    --border: #cad0d7;
    --correct: black;
    --correct-background: #dff4d8;
    --incorrect: black;
    --incorrect-bacground: #fcdcdc;
    --comment: black;
    --comment-background: #fcefdc;
  }
  
  [data-theme='nord-dark'] {
    --text-background: #2e3440;
    --text: #eceff4;
    --page-background: #3b4252;
    --header: #eceff4;
    --header-background: #2e3440;
    --search: #e5e9f0;
    --search-background: #4c566a;
    --card-background: #2e3440;
    --border: #2e3440;
    --correct: #2e3440;
    --correct-background: #a3be8c;
    --incorrect: #2e3440;
    --incorrect-bacground: #bf616a;
    --comment: #2e3440;
    --comment-background: #ebcb8b;
  }
  
  [data-theme='mocha-dark'] {
    --text-background: #3b3228;
    --text: #d0c8c6;
    --page-background: #3b3228;
    --header: #eceff4;
    --header-background: #2e3440;
    --search: #e5e9f0;
    --search-background: #4c566a;
    --card-background: #2e3440;
    --border: #2e3440;
    --correct: #2e3440;
    --correct-background: #beb55b;
    --incorrect: #2e3440;
    --incorrect-bacground: #cb6077;
    --comment: #2e3440;
    --comment-background: #f4bc87;
  }