
:root {
  --text-background: white;
  --text: black;
  --page-backgound: white;
  --header: white;
  --header-background: #444547;
  --search: #aaaaaa;
  --search-background: #606162;
  --card-background: #e5f0ff;
  --border: #cad0d7;
  --correct: black;
  --correct-background: #dff4d8;
  --incorrect: black;
  --incorrect-bacground: #fcdcdc;
  --comment: black;
  --comment-background: #fcefdc;
}

[data-theme='nord-dark'] {
  --text-background: #2e3440;
  --text: #eceff4;
  --page-background: #3b4252;
  --header: #eceff4;
  --header-background: #2e3440;
  --search: #e5e9f0;
  --search-background: #4c566a;
  --card-background: #2e3440;
  --border: #2e3440;
  --correct: #2e3440;
  --correct-background: #a3be8c;
  --incorrect: #2e3440;
  --incorrect-bacground: #bf616a;
  --comment: #2e3440;
  --comment-background: #ebcb8b;
}

[data-theme='mocha-dark'] {
  --text-background: #3b3228;
  --text: #d0c8c6;
  --page-background: #3b3228;
  --header: #eceff4;
  --header-background: #2e3440;
  --search: #e5e9f0;
  --search-background: #4c566a;
  --card-background: #2e3440;
  --border: #2e3440;
  --correct: #2e3440;
  --correct-background: #beb55b;
  --incorrect: #2e3440;
  --incorrect-bacground: #cb6077;
  --comment: #2e3440;
  --comment-background: #f4bc87;
}

* {
  box-sizing: border-box;
  transition: color 100ms ease-in-out, background-color 250ms ease-in-out;
}

.header {
  position: relative;
  color: var(--text);
  background-color: var(--header-background);
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  border-bottom: 2px solid #333436;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
}

.header-menu-button {
  color: var(--header);
  height: 100%;
  width: 60px;
  margin: 0;
  background: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.header-menu-select {
  background-color: var(--search-background);
  color: var(--search);
  border: none;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  margin: 8px;
}

.header-menu-search {
  width: 100%;
  background-color: var(--search-background);
  color: var(--search);
  border: none;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  margin: 8px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  outline: none;
}


.content {
  background-color: var(--page-background);
  height: calc(100vh - 60px);
  padding: 0.25vw;
  overflow-y: scroll;
}

.result {
  font-size: 1em;
  line-height: 1.5em;
  color: var(--text);
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  margin: 16px;
  border: 1px solid var(--card-background);
  min-width: fit-content;
}

.result-header {
  display: flex;
  flex-direction: row;
}

.result-question {
  padding: .5rem;
  flex-grow: 1;
  border: 1px solid var(--border);
}

.result-score {
  padding: .5rem;
  text-align: center;
  width: 4em;
  border: 1px solid var(--border);
}

.result-answer-correct {
  color: var(--correct);
  background-color: var(--correct-background);
  padding: .5rem;
  display: none;
  border: 1px solid var(--border);
}

.result-answer-wrong {
  color: var(--incorrect);
  background-color: var(--incorrect-bacground);
  padding: .5rem;
  display: none;
  border: 1px solid var(--border);
}

.result-comment {
  color: var(--comment);
  background-color: var(--comment-background);
  padding: .5rem;
  display: none;
  border: 1px solid var(--border);
}

.result img {
  vertical-align: middle;
}